<%- include('partials/header') %>

<table>
  <tr>
    <td>
      <div class="container col-lg-12">
        <img src="/img/cp.jpg" alt="Image">
      </div>
    </td>

    <td>
      <div class="jumbotron">
      <div class="container col-lg-12">
        <i class="fas fa-key fa-2x" style="color: #3498db"></i>

        <h1 class="display-3">Payup</h1>
        <p class="lead">If you are already Registered, Please Login</p>
        <hr>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>
    </td>
  </tr>
</table>

<%- include('partials/footer') %>
