<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <iframe width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ec5b98b1-2160-4a94-80d4-231944b1c581&autoAuth=true&ctid=b29282ab-1dfd-4fb3-9599-e0bb2f469af8&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLWluZGlhLWNlbnRyYWwtYS1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>

    <!-- <h1 class="display-3">You've Discovered My Secret!</h1>
    <p class="secret-text">Jack Bauer is my hero.</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div> -->
</div>

<%- include('partials/footer') %>
